* { margin:0; padding:0; 
box-sizing: border-box;
}  

html, body { width:100%; height:100%; }

#thecanvas{ 
    position: absolute;
    display:block;
    width:100%; height:100%; 
    z-index:1;
}

#kanjicanvas{
    position: relative;
    z-index: 2;
    width:300px; height:300px; 
    display: block;
    border-radius: 25px;
    border: 6px solid lightgrey;
}

#clean{
    z-index: 2;
    display: block;
    /*Without position:relative the button is not clickable*/ 
    position: relative;
    float: right;
    margin-bottom: 0.5em;

}
#wrapper{
    width:300px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}
#title{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 0.2em;
    line-height: 105%;
}
#kanji{
    font-size: 2.1em;
    color:#4fca22;
}
#kanji2{
    font-family: Arial, sans-serif;
    color: #5a5a5b;
}
#box1{
    margin-top:1em;
    margin-bottom:8px;
}
#sentence1{
    line-height: 120%;
    margin-bottom: 5px;
}
#sentence2{
    line-height: 120%;
    margin-top: 5px;
}
#sentencedivisor{
    border-top: 3px dashed lightgray;
    border-bottom: white;
    border-right: white;
    border-left: white;
}
#questiondivisor{
    margin-bottom: 10px;
    margin-top: 3px;
    border-width: 1px;
    border-color: lightgray;
}
#clean{
    font-family: 'Nunito', sans-serif;
    font-size:1.1em;
    z-index: 2;
    border-radius: 12px;
    border: 3px solid lightgrey;
    padding:5px;
    transition: 0.3s;
}

#submit{
    font-family: 'Nunito', sans-serif;
    font-size:1.1em;
    border-radius: 12px;
    z-index: 99;
    border: 3px solid lightgrey;
    padding:5px;
    transition: 0.3s;
    margin-left: 39%;
    margin-top:15px;
    margin-bottom:20px;
}

.buttonon{
    color: grey;
    background-color: white;
}

.buttonoff{
    color: grey;
    background-color: lightgray;
}
.buttonoff:hover{
    color: grey;
    background-color: lightgray;
}
p{
    font-family: 'Nunito', sans-serif;
}
form{
    font-family: 'Nunito', sans-serif;
}
.question{
    margin-top:15px;
}
input[name="language"]{
    z-index: 2;
    margin-left:4px;
    position: relative;
}
input[name="input"]{
    z-index: 2;
    margin-left:20px;
    position: relative;
}
input[name="country"]{
    z-index: 2;
    margin-left:60px;
    position: relative;
}
/*Style of notification modal*/
.modal {
    display: none;
    position: relative;
    z-index: 3;
    top: 26%;
    border-radius: 25px;
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    padding:12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 28px;
    /*We have to use the full background for the striped border to maintain the rounded corners*/ /*rgb(231, 229, 229)*/
    background: linear-gradient(rgb(247, 244, 244), rgb(247, 244, 244)), linear-gradient(45deg, #d3d3d3 25%, #4fca22 25%, #4fca22 50%, #d3d3d3 50%, #d3d3d3 75%, #4fca22 75%, #4fca22 100%);
    background-size: 56.57px 56.57px;
    background-origin: content-box, padding-box;
    background-clip: content-box, padding-box;
}
.modal-content{
    font-size: 1.2em;
    color:black;
    margin:1em;
    text-align: center;
    margin-top: 2.5em;
}
.modal-content>:nth-child(1){
    margin-bottom: 0.5em;
}
.modal-content>:nth-child(3){
    margin-top: 0.5em;
}
.returnImg{
    width: 23%;
    cursor:pointer;
}
/*Language switch CSS*/
.knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.button
{
    position: relative;
    display:block;
    z-index: 2;
    width: 105px;
    height: 36px;  
    overflow: hidden;
    /*To avoid special behaviour from Japanese characters*/
    white-space: nowrap; 
    margin-top: 5px;
    margin-left: 65%;
}
.button, .button .layer 
{
    border-radius: 100px;
}
.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}
.knobs
{
    z-index: 3;
}
.layer
{
    width: 100%;
    background-color: #fdfdfd;
    border: 2px solid lightgrey;
    transition: 0.3s ease all;
    z-index: 2;
}
#button-10 .knobs:before, #button-10 .knobs:after, #button-10 .knobs span
{
    position: absolute;
    top: 4px;
    width: 40px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 100px;
    transition: 0.3s ease all;
}
#button-10 .knobs:before
{
    content: '';
    left: 4px;
    background-color: #4fca22;
}
#button-10 .knobs:after
{
    content: '日本語';
    right: 4px;
    color: #4e4e4e;
}
#button-10 .knobs span
{
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}
#button-10 .checkbox:checked + .knobs span
{
    color: #4e4e4e;
}
#button-10 .checkbox:checked + .knobs:before
{
    left: 53px;
    background-color: #4fca22;
}
#button-10 .checkbox:checked + .knobs:after
{
    color: #fff;
}
#button-10 .checkbox:checked ~ .layer
{
    background-color: #fdfdfd;
}
/*Media queries*/

@media (hover: hover) {
    .buttonon:hover{
        color: white;
        background-color: #4fca22;
        cursor:pointer;
    }
}
